extends ./Pages/PugFiles/MasterPages/DefaultMasterPage.pug 

block styles
    link(rel="stylesheet", href="./2dmap.css")
block scripts
    script(src="./2dmap.js")
block headContent
    title Intro to MapView - Create a 2D map
block content
