extends ./MasterPages/DefaultMasterPage.pug 

block styles
    link(rel="stylesheet", href="./census.css")
block scripts
    script(src="./census.js")
block headContent
    title Census
block content
    <span id="rendererToggle" class="esri-widget"> <input type="checkbox" id="changeRenderer" checked value='hello' /> <span id = 'checkBoxText'>View by population</span></span>