extends ./MasterPages/DefaultMasterPage.pug 

block styles
    link(rel="stylesheet", href="./census.css")
block scripts
    script(src="./census.js")
block headContent
    title Census
block content
    div(id="rendererToggle")
        p Renderers
        input(type='radio',id='Population',value='Population', name='rendererRadioButton' )
        label(for="Population")  Population           
        br 
        input(type='radio',id='Race',value='Race' ,name='rendererRadioButton' checked)
        label(for="Race")  Race