extends ./MasterPages/DefaultMasterPage.pug 

block styles
    link(rel="stylesheet", href="./census.css")
block scripts
    script(src="./census.js")
block headContent
    title Census
block content
    div(id="rendererToggle")
        p Renderer
        input(type='radio',id='Population',value='Population', name='choosenRenderer' )
        label(for="Population")  Population           
        br 
        input(type='radio',id='Race',value='Race' ,name='choosenRenderer' checked)
        label(for="Race")  Race
            
        
    //<span id="rendererToggle" class="esri-widget"> <input type="checkbox" id="changeRenderer" checked value='hello' /> <span id = 'checkBoxText'>View by population</span></span>