html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        include Pug_includes/ScriptsAndLinks.pug
        link(rel="stylesheet", href="./featureFromGraphic.css")
        script(src="./featureFromGraphic.js")  
        title Feature from graphics
    body(onload='buildNavBar()')
        div.mynavbar
            ul.nav(id='navbar')
        div.content 
            div(id='viewDiv')