extends ./MasterPages/DefaultMasterPage.pug 

block styles
    link(rel="stylesheet", href="./layers.css")
block scripts
    script(src="./layers.js") 
block headContent
    title Layers
block content