extends ./MasterPages/DefaultMasterPage.pug 

block styles
    link(rel="stylesheet", href="./mapFromCsv.css")
block scripts
    script(src="./mapFromCsv.js")
block headContent
    title Map from csv
block content
    div(id='sliderDiv')
    div(id='timeSlider')