extends ./MasterPages/DefaultMasterPage.pug 

block styles
    link(rel="stylesheet", href="./sketch.css")
block scripts
    script(src="./sketch.js")
block headContent
    title Sketch
block content
    div(id='tableDiv', class='tableClass')